#root {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diagram {
  position: relative;
  border-radius: 50%;
  background-color: white;
}
.diagram__center {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  position: absolute;
  left: 45%;
  top: 45%;
  background-color: black;
  z-index: 2;
}
.diagram__chart {
  position: absolute;
  border-radius: 50%;

  --shift: 0;
  --dimention: 200px;
  --value: 25%;
  --color: black;
  --centered: 0px;
  --rotation: 0;
  width: var(--dimention);
  height: var(--dimention);
  background: conic-gradient(var(--color) var(--value), transparent 0);
  transform-origin: center;
  transform: translateX(var(--shift)) translateY(var(--shift))
    rotate(var(--rotation));
  z-index: 1;
}
